/*

some sample rules

html.gecko #container element { } // for gecko = mozilla = firefox browsers
html.win { } // windows
html.safari { } // safari 

can also be combined

html.win.gecko #foo #bar { } // firefox on windows
html.firefox3.mac table { } firefox 3 on mac

html body { font-family: arial;}
html.mac body { font-family: "lucida grande";}
html.win.firefox body { font-size: 99%; }

*/